@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*,
*::before
::after{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}


:root {
    --primary: purple;
    --secondary: pink;
    --alternative : black;
    --awesome: white;
    --mainboxshadow: .5vw .5vw .3vw var(--alternative),
        .8vw .1vw .2vw var(--secondary),
        1vw 1vw 2vw #BB2233;
    --bordercolor: yellow;
    --elementshadow: .2vw .3vw .2vw pink;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 20rem;
    aspect-ratio: 2 / 3 ;
    box-shadow:  var(--mainboxshadow);
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
 
.container :first-child, .container :last-child {
    grid-column: 1 / -1;
 }

input [data-output]{
    text-align: right;
}

:is(button,input){
    box-shadow: var(--elementshadow);
    font-weight: bolder;
    font-size: 1.1rem;
}